body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f7f7fb;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #a45ee5;
  padding: 10px 30px;
  background-color: #fff;
}

.logo-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo, .profile {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  border:none;
}

.logo-text {
  font-weight: bold;
  font-size: 18px;
}

nav a {
  margin: 0 15px;
  font-style:Kausha Script;
  font-weight: 500;
  text-decoration: none;
  color: #333;
  border-bottom: 1px dashed #a45ee5;
   padding: 5px;
  transition: all 0.3s ease;
}
nav a:hover {
  color:#f0e6fb;
  background-color:#a45ee5 ;
  border-radius: 5px;
}

main {
  padding: 30px;
}

h2 {
  font-family: 'Brush Script MT', cursive;
  font-size: 28px;
  color: #444;
}

.container {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item-img {
  width: 80%;
    height: 400px;
  max-width:900px;
  border-radius: 10px;
}

label {
  font-weight: 600;
}

textarea {
  width: 80%;
  min-height: 100px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: none;
  font-family: inherit;
  background-color: #fff;
}

.buttons {
  display: flex;
  gap: 15px;
}

button {
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.Submit {
  background-color: white;
  border: 2px solid #a45ee5;
  color: #a45ee5;
}
.approve:hover {
  background-color: #a45ee5;
  color: white;
}

.reject {
  background-color:#a45ee5;
  border: 2px solid #a45ee5;
  color: white;
}

.reject:hover {
    background-color:white;
    color: #a45ee5;
}

.right {
  flex: 1;
  font-size: 16px;
}

.right p {
  margin-bottom: 15px;
}
