.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.logo {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Leckerli One", cursive;;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.logo img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.nav-links a {
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.profile img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.welcome {
  font-size: 14px;
}
