.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid #ddd;
  font-family: "Kaushan Script", cursive;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Kaushan Script", cursive;
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.nav-links a {
  margin: 0 1rem;
  text-decoration: none;
  font-style: italic;
  color: #333;
}

.profile img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}